---
layout: default
title: Gonecase
image: "back1.jpg"
---

<div id="home">

  <h2>-</h2>
  <p>I am an actor and a designer/developer.</p>
  <p>I run the <a href="http://www.thebabblerstudio.com">theBabblerStudio</a>.</p>
  <p>I live and work out of Cooke Town in Bangalore, India.</p>

  <h2>Blog Posts</h2>
  <ul class="posts">
    {% for post in site.categories['blog'] %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a> //  {{post.tag}}</li>
    {% endfor %}
  </ul>

  <h2>Sketchbooks</h2>
    {% for post in site.categories['sketchbook'] %}
      <a href="{{ post.url }}">{{ post.title }}</a>
    {% endfor %}
</div>